* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.image {
  height: 275px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.card {
  background-color: #F3F3F3;
  width: 100%;
  border-radius: 40px;
  padding: 15px;
  position: relative;
  margin-top: -58px;
}
.card .title-heart-icon {
  display: flex;
  flex-direction: baseline;
  justify-content: center;
  align-items: center;
  gap: 22px;
}
.card h2 {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  font-style: italic;
  font-size: 28px;
  font-weight: 400;
  line-height: 40.82px;
  color: #101010;
  padding-top: 16px;
}
.card .checkbox-container .fa-heart {
  position: absolute;
  margin-top: 10px;
}
.card .fa-solid {
  font-size: 25px;
}
.card article {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.card article h4 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 22.5px;
  text-transform: uppercase;
  display: inline-block;
  padding-bottom: 12px;
  border-bottom: 4px solid #99E2D0;
  width: 59px;
  margin-bottom: 14px;
}
.card .card-menu {
  background-color: white;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 10px;
  transition: all 0.3s ease;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 0.5s ease forwards;
  margin-bottom: 12px;
  width: 100%;
}
.card .card-menu .price {
  font-family: "Roboto", sans-serif;
  font-size: 15.04px;
  font-weight: 700;
  line-height: 17.63px;
  text-align: right;
  position: absolute;
  right: 0;
  background-color: rgb(255, 255, 255);
  padding: 6px 10px;
  transition: transform 0.3s ease, right 0.3s ease;
  z-index: 2;
  flex-shrink: 0;
  bottom: 12px;
}
.card .card-menu .menu-checkmark {
  color: white;
  background-color: #99E2D0;
  padding: 10px;
  border-radius: 0 15px 15px 0;
  position: absolute;
  right: -70px;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s ease;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 3;
  padding: 25px;
}
.card .card-menu i {
  font-size: 1em;
  color: #99E2D0;
  background-color: white;
  border-radius: 50%;
  padding: 2px;
}
.card .card-menu:hover .menu-checkmark {
  right: -1px;
}
.card .card-menu:hover .price {
  transform: translateX(-70px);
}
.card .card-menu:hover .card-plat {
  width: calc(100% - 80px);
}
.card .card-menu .card-plat {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 100%;
  overflow: hidden;
  position: relative;
  gap: 12px;
}
.card .card-menu .card-plat .plat-name {
  font-size: 18px;
  font-weight: 500;
}
.card .card-menu .card-plat h3 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.09px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 5px;
}
.card .card-menu .card-plat .plat-detail {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card .card-menu button {
  display: block;
  margin: auto;
}

.menu-card {
  width: 90%;
  max-width: 600px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  position: relative;
  transition: all 0.3s ease;
}
.menu-card .menu-info {
  flex-grow: 1;
  min-width: 0;
}
.menu-card .menu-info .menu-title {
  font-size: 1.2em;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-card .menu-info .menu-details {
  margin: 5px 0 0;
  font-size: 0.9em;
  color: #666;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-card .menu-price {
  font-size: 1.2em;
  color: #333;
  margin-left: 10px;
  flex-shrink: 0;
  transition: all 0.3s ease;
}
.menu-card .menu-checkmarka {
  color: white;
  background-color: #99E2D0;
  font-size: 1.5em;
  padding: 5px;
  border-radius: 50%;
  position: absolute;
  right: -50px;
  transition: all 0.3s ease;
}

.menu-card:hover .menu-checkmarka {
  right: 10px;
}

.menu-card:hover .menu-price {
  transform: translateX(-50px);
}

.menu-card:hover .menu-info {
  max-width: calc(100% - 110px);
}

@media screen and (min-width: 769px) {
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main .card {
    width: 75%;
    border-radius: 40px 40px 0 0;
    display: flex;
    flex-direction: column;
  }
  main .card h2 {
    font-style: normal;
  }
  main .title-heart-icon {
    justify-content: center;
  }
}/*# sourceMappingURL=menu.css.map */