@import "../utiles/variables";
@import "../utiles/mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: $font-family-primary;
}


.reservation {
  background-color: $background-color-primary;
  display: grid;
  grid-template-rows: auto auto auto;
  justify-items: center;
  align-items: center;
  padding-top: 32px;
  text-align: center;

  h2 {
    @include text-style(24px, 700, 28.13px);
    padding: 0 72px;
    margin-bottom: 30px;
  }

  p {
    @include text-style(18px, 300, 21.09px);
    margin-bottom: 10px;
  }

  .btn {
    margin-bottom: 30px;
  }
}

.recherche {
  background-color: $background-color-secondary;
  @include flex-center();
  gap: 17px;
  padding: 16px 60px;
  width: 100%;
  @include box-shadow($box-shadow-default);

  input {
    background-color: $background-color-secondary;
    border: none;
  }
}

.fonctionnement {
  padding: 25px;

  h3 {
    @include text-style(24px, 700, 28.13px);
    padding-top: 20px;
  }

  .buttons-container {
    @include flex-center(column);
    gap: 18px;
    margin: 25px;
    width: 98%;
    margin-left: 5px;
  }

  .custom-button {
    background-color: $btn-background-color;
    height: 72.38px;
    border-radius: 20px;
    border: none;
    @include box-shadow(0 4px 15px rgba(0, 0, 0, 0.1));
    @include flex-center(row, flex-start, center);
    padding: 0 20px;
    cursor: pointer;
    transition: background-color 0.3s;

    i {
      padding-right: 14px;
      color: #7E7E7E;
      margin-left: 20px;
      transition: color 0.3s;

      &:hover {
        color: $color-primary;
      }
    }

    p {
      @include text-style(16px, 600, 18.75px);
    }

    span {
      color: white;
      background-color: $color-primary;
      border-radius: 50%;
      padding: 6px 11px;
      margin-left: -31px;
    }
  }
}

.restaurant {
  background-color: $background-color-primary;
  padding-bottom: 1px;

  h3 {
    @include text-style(24px, 700, 28.13px);
    padding: 55px 0 20px 25px;
  }

  .cardscontainer {
    padding: 0 20px;

    .card {
      margin-bottom: 20px;
      background-color: white;
      border-radius: 15px;
      padding-bottom: 10px;
      display: grid;
      grid-template-columns: 4fr 1fr;
      grid-template-rows: 3fr 1fr;
      position: relative; 
      @include box-shadow($box-shadow-card);

      .card-link {
        grid-area: 1 / 1 / 3 / 3;
        display: block;
        text-decoration: none;
        color: inherit;

        img.card-image {
          width: 100%;
          height: 231px;
          border-radius: 15px 15px 0 0;
          object-fit: cover;
        }

        .card-info {
          padding: 10px;

          p, strong {
            font-family: $font-family-primary;
            text-align: left;
            margin: 0;
          }

          p {
            color: $color-text;
            font-size: 17px;
            font-weight: 300;
            line-height: 19.92px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          strong {
            font-size: 18px;
            font-weight: 700;
            line-height: 21.09px;
            color: $color-text;

          }
        }

        .card-tag {
          position: absolute; 
          top: 10px; 
          right: 10px; 
          width: 22%;
          height: 29px;
          @include flex-center();
          background-color: #99E2D0;
          color: $color-secondary;
          border-radius: 5px;
          font-size: 0.9em;
        }
      }

      .card-heart {
        grid-area: 2 / 2 / 3 / 3;
        @include flex-center();
        color: #d3d3d3;
        font-size: 1.5em;
        cursor: pointer;
        position: relative;
        top: -2px;
        left: -14px;
      }

      .checkbox-container {
        margin-top: 10px;

        input[type="checkbox"] {
          display: none;

          & + label.fa-regular.fa-heart {
            cursor: pointer;
            font-size: 24px;
            color: #ccc;
          }

          &:checked + label.fa-regular.fa-heart {
            display: none;
          }

          &:checked + label.fa-solid.fa-heart {
            display: inline;
            color: red;
          }

          & + label.fa-solid.fa-heart {
            display: none;
            font-size: 24px;
            cursor: pointer;
          }
        }
      }
    }
  }


  .checkbox-container .fa-heart {
    position: absolute;
    top: 27px;
    left: 25px;
  }
}


@media screen and (min-width: 769px) {
  

  .fonctionnement {
    h3 {
      margin-left: 92px;
    }

    .buttons-container {
      height: 30%;
      @include flex-center(row, center, center);
    }
  }

  .restaurant {
    padding: 0 90px;

    .cardscontainer {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 60px 100px;
    }
  }
}
