* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
}

.reservation {
  background-color: #F3F3F3;
  display: grid;
  grid-template-rows: auto auto auto;
  justify-items: center;
  align-items: center;
  height: 290px;
  padding-top: 32px;
  text-align: center;
}
.reservation h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28.13px;
  height: 98px;
  padding: 0 72px;
  margin-bottom: 10px;
}
.reservation p {
  font-size: 18px;
  font-weight: 300;
  line-height: 21.09px;
  margin-bottom: 10px;
}
.reservation .btn {
  margin-bottom: 10px;
}

.recherche {
  background-color: #EAEAEA;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 17px;
  padding: 16px 60px;
  width: 100%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.recherche input {
  background-color: #EAEAEA;
  border: none;
}

.fonctionnement {
  padding: 25px;
}
.fonctionnement h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28.13px;
  padding-top: 20px;
}
.fonctionnement .buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
  margin: 25px;
  width: 98%;
  margin-left: 5px;
}
.fonctionnement .custom-button {
  background-color: #F6F6F6;
  height: 72.38px;
  border-radius: 20px;
  border: none;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.fonctionnement .custom-button i {
  padding-right: 14px;
  color: #7E7E7E;
  margin-left: 20px;
  transition: color 0.3s;
}
.fonctionnement .custom-button i:hover {
  color: #9356DC;
}
.fonctionnement .custom-button p {
  font-size: 16px;
  font-weight: 600;
  line-height: 18.75px;
}
.fonctionnement .custom-button span {
  color: white;
  background-color: #9356DC;
  border-radius: 50%;
  padding: 6px 11px;
  margin-left: -31px;
}

.restaurant {
  background-color: #F3F3F3;
  padding-bottom: 1px;
}
.restaurant h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28.13px;
  padding: 55px 0 20px 25px;
}
.restaurant .cardscontainer {
  padding: 0 20px;
}
.restaurant .cardscontainer .card {
  margin-bottom: 20px;
  background-color: white;
  border-radius: 15px;
  padding-bottom: 10px;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 3fr 1fr;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.restaurant .cardscontainer .card .card-link {
  grid-area: 1/1/3/3;
  display: block;
  text-decoration: none;
  color: inherit;
}
.restaurant .cardscontainer .card .card-link img.card-image {
  width: 100%;
  height: 231px;
  border-radius: 15px 15px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurant .cardscontainer .card .card-link .card-info {
  padding: 10px;
}
.restaurant .cardscontainer .card .card-link .card-info p, .restaurant .cardscontainer .card .card-link .card-info strong {
  font-family: "Roboto", sans-serif;
  text-align: left;
  margin: 0;
}
.restaurant .cardscontainer .card .card-link .card-info p {
  color: #000000;
  font-size: 17px;
  font-weight: 300;
  line-height: 19.92px;
}
.restaurant .cardscontainer .card .card-link .card-info strong {
  font-size: 18px;
  font-weight: 700;
  line-height: 21.09px;
  color: #000000;
}
.restaurant .cardscontainer .card .card-link .card-tag {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 22%;
  height: 29px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  color: #008766;
  border-radius: 5px;
  font-size: 0.9em;
}
.restaurant .cardscontainer .card .card-heart {
  grid-area: 2/2/3/3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #d3d3d3;
  font-size: 1.5em;
  cursor: pointer;
  position: relative;
  top: -2px;
  left: 4px;
}
.restaurant .cardscontainer .card .checkbox-container {
  margin-top: 10px;
}
.restaurant .cardscontainer .card .checkbox-container input[type=checkbox] {
  display: none;
}
.restaurant .cardscontainer .card .checkbox-container input[type=checkbox] + label.fa-regular.fa-heart {
  cursor: pointer;
  font-size: 24px;
  color: #ccc;
}
.restaurant .cardscontainer .card .checkbox-container input[type=checkbox]:checked + label.fa-regular.fa-heart {
  display: none;
}
.restaurant .cardscontainer .card .checkbox-container input[type=checkbox]:checked + label.fa-solid.fa-heart {
  display: inline;
  color: red;
}
.restaurant .cardscontainer .card .checkbox-container input[type=checkbox] + label.fa-solid.fa-heart {
  display: none;
  font-size: 24px;
  cursor: pointer;
}
.restaurant .checkbox-container .fa-heart {
  position: absolute;
  top: 27px;
  left: 25px;
}

@media screen and (min-width: 769px) {
  .reservation .btn {
    width: 218px;
  }
  .fonctionnement h3 {
    margin-left: 92px;
  }
  .fonctionnement .buttons-container {
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .restaurant {
    padding: 0 90px;
  }
  .restaurant .cardscontainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 60px 100px;
  }
}/*# sourceMappingURL=style.css.map */