// Variables style.scss
$font-family-primary: 'Roboto', sans-serif;
$font-family-secondary: 'Shrikhand', cursive;
$background-color-primary: #F3F3F3;
$background-color-secondary: #EAEAEA;
$color-primary: #9356DC;
$color-secondary: #008766;
$color-text: #000000;
$box-shadow-default: 0 4px 4px rgba(0, 0, 0, 0.25);
$box-shadow-card: 0 2px 4px rgba(0, 0, 0, 0.1);
$btn-background-color: #F6F6F6;



